<h1>Restaurant: <%= @restaurant.name %></h1>
<%= link_to "Back to restaurants", restaurants_path %>
<%= link_to "Rate this restaurant", new_restaurant_review_path(@restaurant) %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
	<% if @restaurant.reviews.any? %>
		<% @restaurant.reviews.each do |review| %>
			<li class="list-group-item"><%= review.content %></li>
      <li class="list-group-item"><%= review.rating %><li>
		<% end %>
	<% else %>
		<li><%= link_to "Be the first to review", new_restaurant_review_path(@restaurant) %></li>
	<% end %>
</ul>
<br>
